DESTINATION__SNOWFLAKE__CREDENTIALS__DATABASE="SNOWFLAKE_DATABASE"
DESTINATION__SNOWFLAKE__CREDENTIALS__HOST="xy123456.north-europe.azure"
DESTINATION__SNOWFLAKE__CREDENTIALS__USERNAME="USERNAME"
DESTINATION__SNOWFLAKE__CREDENTIALS__PASSWORD="p4ssw0rds!so!long"
DESTINATION__SNOWFLAKE__CREDENTIALS__ROLE="SNOWFLAKEROLE"
DESTINATION__SNOWFLAKE__CREDENTIALS__WAREHOUSE="SNOWFLAKEWAREHOUSE"
PROGRESS=enlighten
