DESTINATION__SNOWFLAKE__DATABASE="DATADRIVEN_KNOWITALEX_DEV"
DESTINATION__SNOWFLAKE__ACCOUNT="ut63892.north-europe.azure"
DESTINATION__SNOWFLAKE__USER="KNOWITALEX"
DESTINATION__SNOWFLAKE__PASSWORD="CONFIGUREME"
DESTINATION__SNOWFLAKE__ROLE="DEVELOPMENT"
DESTINATION__SNOWFLAKE__WAREHOUSE="ADHOC"