DESTINATION__SNOWFLAKE__CREDENTIALS__DATABASE="DATADRIVEN_KNOWITALEX_DEV"
DESTINATION__SNOWFLAKE__CREDENTIALS__HOST="ut63892.north-europe.azure"
DESTINATION__SNOWFLAKE__CREDENTIALS__USERNAME="KNOWITALEX"
DESTINATION__SNOWFLAKE__CREDENTIALS__PASSWORD="CONFIGUREME"
DESTINATION__SNOWFLAKE__CREDENTIALS__ROLE="DEVELOPMENT"
DESTINATION__SNOWFLAKE__CREDENTIALS__WAREHOUSE="ADHOC"